<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
	<% @course_data.each do |data| %>
	<table class="table table-striped table-bordered" style="width: 500px;">
	<caption><%= data[:header][0] %> course load for Graphic Design</caption>
	<colgroup>
		<col id="semester">
		<col id="credits">
	</colgroup>
	<tr>
		<th scope="col"><%= h(data[:header][0]) %></th>
		<th scope="col"><%= h(data[:header][1]) %></th>
	</tr>	
	<% data[:courses].each do |course| %>
	<% code, title = course[0].split(' ', 2) %>
	<tr>
		<td><strong><%= h(code) %></strong> <%= h(title) %></td>
		<td><%= h(course[1]) %></td>
	</tr>
	<% end %>
	</table>
	<% end %>
</body>
</html>